
    <!-- Sidebar -->
    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li class="sidebar-item">
                <a class="sidebarBtn" href="/categories/all">
                    Categories
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebarBtn" href="/transactions/all">
                    Transactions
                </a>
            </li>
            <li class="side-item">
                <a class="sidebarBtn" href="/user/profile/<%= user._id%>/edit">
                    Profile
                </a>
            </li>
        </ul>
    </nav>


<script>
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });
</script>
