<!-- Sidebar -->
<div class="col-md-auto bg-light d-none d-md-block sidebar">
    <div class="left-sidebar">
        <ul class="nav flex-column sidebar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/categories/all">
                    Categories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions/all">
                    Transactions
                </a>
            </li>
        </ul>
    </div>
</div>