<%- include('./partials/header') %>

<h2>Welcome to SaveLah!</h2>
<nav>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
</nav>

<p>This is an app developed by Greg for his renovation and wedding expenses.</p>


<%- include('./partials/footer') %>