<%- include('./partials/header') %>

<h2>SaveLah! Dashboard</h2>
<nav>
  <a href="/categories">Categories</a>
  <a href="/transactions">Transactions</a>
  <a href="">Add Transactions</a>
</nav>



<%- include('./partials/footer') %>