<%- include('./partials/header') %>

<h2>SaveLah! Dashboard</h2>
<nav>
  <a href="">Categories</a>
  <a href="">Transactions</a>
  <a href="">Add Transactions</a>
</nav>



<%- include('./partials/footer') %>