<%- include('./partials/header') %>

<h2>SaveLah! Dashboard</h2>
<nav>
  <a href="/categories/all">Categories</a>
  <a href="/transactions/all">Transactions</a>
</nav>



<%- include('./partials/footer') %>