<%- include('./partials/header') %>

<h2>Welcome to SaveLah!</h2>
<nav>
    <a href="/user/register/new">Register</a>
    <a href="/user/login/new">Login</a>
    <!-- <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a> -->
</nav>

<p>This is an app developed by Greg for his renovation and wedding expenses.</p>


<%- include('./partials/footer') %>