<%- include('./partials/header') %>


<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-auto bg-light d-none d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav flex-column sidebar-nav">
                    <li class="nav-item">
                        <a type="button" class="userBtn" class="nav-link active" href="/user/register/new">
                            Register
                        </a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a class="userBtn" class="nav-link" href="/user/login/new">
                            Login
                        </a>
                    </li>
                </ul>
                <%=msg%>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6 col-md-auto">
                <div class="pb-5">
                    <div class="card bg-dark text-white">
                        <label>Background:</label><br>
                        This application was developed to assist Greg with his renovation and wedding budget management.
                    </div>
                </div>
            </div>
        
            <div class="col-lg-6 col-md-auto">
                <div class="pb-5">
                    <div class="card bg-dark text-white">
                        <label>Developer Profile:</label><br>
                        Hi, my name is Greg. Please refer to this <a href="https://github.com/gregoryfoo95/SaveLah">link</a> for my Github
                        Repository!
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="pb-5">
                    <div class="card bg-dark text-white">
                        <label>*My Humble Abode*</label>
                        <img src="https://i.ibb.co/mvHXnws/Home.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>