<%- include('./partials/header') %>


<div class="container-fluid">
    <h3>Your handy-dandy budget management app</h3>
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-auto bg-light d-none d-md-block sidebar ">
            <div class="left-sidebar">
                <ul class="nav flex-column sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/user/register/new">
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/login/new">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
            <%=msg%>
        </div>
        
        <div class="col-md-3 col-lg-5 px-4 bg-dark text-white border border-primary">
            <label>Background:</label><br>
            This application was developed to assist Greg with his renovation and wedding budget management.
        </div>
        <div class="col-md-3 col-lg-5 px-4 bg-dark text-white border border-primary">
            <label>Developer Profile:</label><br>
            Hi, my name is Greg. Please refer to this <a href="https://github.com/gregoryfoo95/SaveLah">link</a> for my Github Repository!
        </div>
    </div>
</div>
<%- include('./partials/footer') %>