<%- include('./partials/header') %>

<h2>SaveLah! Dashboard</h2>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 bg-light d-none d-md-block sidebar">
      <div class="left-sidebar">
        <ul class="nav flex-column sidebar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/categories/all">
              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
<!--                 <path fill-rule="evenodd"
                  d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                  clip-rule="evenodd" /> -->
              </svg>
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transactions/all">
              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
<!--                 <path fill-rule="evenodd"
                  d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                  clip-rule="evenodd" /> -->
              </svg>
              Transactions
            </a>
          </li>
        </ul>
      </div>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h3>Overview of Categories</h3>
      <hr>
      <div class="table-responsive">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Categories</th>
              <th scope="col">Budget</th>
            </tr>
          </thead>
          <tbody>
            <% categories.forEach((c,i)=> { %>
              <tr>
                <td>
                  <%=c.category_name%>
                </td>
                <td>
                  <%=c.budget%>
                </td>
              </tr>
              <%}) %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>



<%- include('./partials/footer') %>