<%- include('../partials/header') %>

    <h2>Login Form</h2>
    <%=msg%>
        <form action="/user/login" method="post">
            <fieldset>
                <legend>Login</legend>
                <label>Username: <input name="username" /></label>
                <br />
                <label>Password: <input type="password" name="password" /></label>
                <input type="hidden" value="secret"/>
                <button>Login</button>
            </fieldset>
        </form>
<%- include('../partials/footer') %>