<%- include('../partials/header') %>

<div class="container-fluid">
    <main role="main" class="col-md-5 col-lg-5 px-4 bg-dark text-white">
        <%=msg%>
        <form action="/user/register" method="post">
            <fieldset>
                <legend>Registration</legend>
                <label>Username: <input name="username" minlength="1" maxlength="30"></label>
                <br />
                <label>Password: <input type="password" name="password" minlength="8"  /></label>
                <br />
                <label>Confirm Password: <input type="password" name="password2" minlength="8" /></label>
                <br />
                <label>Monthly Salary ($/mth): <input type="number" value="0" name="monthly_salary" placeholder="No negative amount please" step="0.01" min="0" pattern="^\s*$^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$" /></label>
                <br />
                <label>Gender:</label>
                <select name="gender">
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="NA">NA</option>
                </select>
                <br />
                <label>Date of Birth: <input type="date" name="dob" id="date" /></label>
                <script>
                    $('#date').val(new Date().toJSON().slice(0, 10));
                </script>
                <br />
                <label>Permission Rights:</label>
                <select name="user_permission">
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                </select>
                <br/>
                <button class="userBtn" >Register</button>
            </fieldset>
        </form>
    </main>
</div>
<%- include('../partials/footer') %>