<%- include('../partials/header') %>


    <h2>All Transactions</h2>
    <a href="/dashboard">Dashboard</a>
    <%=msg%>
        <nav>
            <form action="/transactions" method="POST">
                <label>Category:</label>
                <select name="category_id">
                    <%- categories.map(c=> `<option value=${c._id}>${c.category_name}</option>`)%>
                </select>
                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                <label>Date: <input type="date" id="date" name="date"> </label>
                <script>
                    $('#date').val(new Date().toJSON().slice(0, 10));
                </script>
                <label>Amount: $<input name="amount"  type="number" /></label>
                <input type="submit" />
            </form>
        </nav>

        <table id="transactionList">
            <thead>
                <tr>
                    <th>Transactions</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                        </td>
                    </tr>

            </tbody>
        </table>

        <%- include('../partials/footer') %>